.path{
    margin: 10px;
}

.button{
    width: 80px;
    height: 30px;
    margin: 10px;
}

.racer{
    width: 100px;
    height: 100px;
    margin: 10px;
}

.grey{
    background-color: grey;
}

.orange{
    background-color: orange;
}

.blue{
    background-color: cadetblue;
}